/ATL/build/
/ATL/dist/
/oo_heritage-master-8a55cd816a834ccade8e42e62ce3bcc16c2e42a3/build/
/AsciiPaint/nbproject/private/
/AsciiPaint/build/
/AsciiPaint/dist/
/ATL_JavaFX_Intro_53212/nbproject/private/
/ATL_JavaFX_Intro_53212-Preloader/nbproject/private/
/ATL_JavaFX_Intro_53212/build/
/ATL_JavaFX_Intro_53212-Preloader/build/
/ATL_JavaFX_Intro_53212-Preloader/dist/
/Othello/nbproject/private/
/Othello/build/
/ATL_JavaFX_Intro_53212/dist/